.nav-bar {
  width: 100%;
  background-color: #333333;
  height: 46px;
}

.nav-bar-container {
  margin: 0 auto;
  width: 1180px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.nav-bar-logo {
  display: flex;
  align-items: center;
  width: 69px;
  height: 46px;
  background-color: #bd3d3a;
}

.nav-bar-logo img {
  width: 45px;
  height: 25px;
  margin: 0 auto;
  cursor: pointer;
}

.nav-bar-left {
  display: flex;
}

.nav-bar-left-wrapper {
  display: flex;
  align-items: center;
  height: 46px;
  width: 312px;
}

.nav-bar-left-wrapper > button {
  width: 33%;
  height: 100%;
  background: transparent;
  color: lightgray;
  border-right: 1px solid #111;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font: 100 14px/1.5 Interstate, Lucida Grande, Arial, sans-serif;
}

.nav-bar-middle {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  width: 450px;
  height: 46px;
}

.nav-bar-middle > input {
  color: #666;
  background: #e5e5e5;
  height: 24px;
  border-radius: 4px;
  width: 430px;
  padding-left: 10px;
}

.nav-bar-right {
  display: flex;
}

.nav-bar-right-wrapper {
  display: flex;
  align-items: center;
  height: 46px;
  width: 340px;
}

.nav-bar-right-wrapper button,
.nav-bar-icon-wrapper button {
  width: 25%;
  height: 100%;
  padding-right: 25px;
  cursor: pointer;
  background: transparent;
  color: lightgray;
  box-sizing: border-box;
  text-align: center;
  font: 100 14px/1.5 Interstate, Lucida Grande, Arial, sans-serif;
}

.nav-github-button > a {
  text-decoration: none;
  color: lightgray;
}

.nav-bar-profile-icon {
  display: flex;
  align-items: center;
  height: 100%;
  background: transparent;
  color: lightgray;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font: 100 14px/1.5 Interstate, Lucida Grande, Arial, sans-serif;
}

.nav-bar-profile-icon > img {
  height: 40px;
  width: 40px;
}

.nav-bar-icon-wrapper {
  display: flex;
  align-items: center;
  height: 46px;
}

.nav-bar-right-wrapper > button:hover,
.nav-bar-left-wrapper > button:hover {
  color: #eee;
  outline: 0;
}

.nav-bar-profile-icon img,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* .nav-dropdown-menu {
	position: fixed;
	top: 46px;
	right: 155px;
	background-color: black;
	width: 170px;
	z-index: 1;
	color: darkgray;
	text-align: left;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
	font-weight: initial;
} */

.nav-dropdown-menu {
  position: absolute;
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 40px;
  right: -50;
}

.nav-dropdown-menu > button {
  height: 100%;
  width: 100%;
  color: #ccc;
  background-color: black;
  font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
    Verdana, Tahoma, sans-serif;
  padding: 8px 10px;
}

#logout-icon {
  padding-left: 7px;
}

.search-icon {
  background: transparent;
  position: relative;
  right: 30px;
  cursor: pointer;
}

.nav-dropdown-menu > button:hover {
  background-color: darkgray;
  color: black;
}

.format-link {
  text-decoration: none;
  color: #ccc;
}

.format-link:hover {
  color: #eee;
}

.nav-github-button a:hover {
  color: #eee;
}

.nav-bar-notification-icon,
.nav-bar-mail-icon,
.nav-bar-profile-icon {
  padding-left: 10px;
}
