.profile-main {
  width: 100%;
  background-color: whitesmoke;
}

.profile-main-container a {
  color: #333;
}

.profile-nav {
  position: fixed;
  top: 0;
  width: 100%;
}

.profile-main-container {
  margin: 0 auto;
  width: 1180px;
  height: 2000px;
  background-color: white;
}

.profile-main-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  height: 260px;
  margin-top: 46px;
  background-size: cover;
  /* TEMP IMG */
  background-image: url("https://i1.sndcdn.com/visuals-000010958294-lwO6rW-t2480x520.jpg");
}

#profile-picture {
  width: 20%;
  height: 100%;
  background-size: cover;
  /* TEMP IMG */
  // background-image: url("https://i1.sndcdn.com/avatars-000638743965-twchqj-t500x500.jpg");
}

#profile-picture > img {
  width: 260px;
  height: 260px;
}

#profile-banner img {
}

#profile-banner > h2 {
  margin-top: 20px;
  background-color: rgba(17, 16, 16, 0.712);
  color: #fff;
  font-size: 24px;
  line-height: 37px;
  margin-right: 780px;
  margin-bottom: 130px;
  padding: 4px 7px;
}

.profile-main-menu {
  height: 48px;
  border-bottom: 1px solid #f2f2f2;
}

.main-menu-list {
  display: flex;
  padding-top: 18px;
  padding-left: 15px;
}

.main-menu-list li {
  cursor: pointer;
  display: block;
  margin-left: 15px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 1.8;
}

.profile-menu-item div,
div.visited {
  text-decoration: none;
  color: black;
}

.profile-menu-item div:hover {
  border-bottom: 1px solid #bd3d3a;
  color: #bd3d3a;
}

#list-item-1 {
  border-bottom: 1px solid #bd3d3a;
  color: #bd3d3a;
}

.profile-main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: whitesmoke;
}

.main-content-tracklist {
  display: block;
  width: 65%;
  background-color: #fff;
}

.tracklist-header {
  font-size: 23px;
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 25px 30px 0px;
  margin-bottom: 10px;
}

.main-content-sidebar {
  background-color: #fff;
  width: 34.9%;
}

.main-content-sidebar-profile {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid #f0f0f0;
}

.sidebar-stats {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.sidebar-stats span {
  line-height: 0.9;
  padding: 8px 0 3px;
  font-size: 12px;
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #999;
  margin-right: 50px;
}

.sidebar-description {
  margin-left: 40px;
  margin-top: 20px;
  font-size: 12px;
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
}

.sidebar-description > p {
  text-align: left;
  color: #333;
}

.sidebar-links {
  display: flex;
  margin-left: 40px;
  margin-top: 30px;
  color: #999;
}

#sidebar-links-left {
  margin-right: 5px;
}

#stats-item > span:hover {
  color: #bd3d3a;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

#stats-item span {
  font-size: 20px;
}

#stats-item {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #f0f0f0;
}

#file {
  display: none;
}
