.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 500px;
  width: 450px;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.session-form > .session-email {
  margin-top: 70px;
}

.session-username {
  margin-top: 10px;
}

.session-form-btn {
  display: inline-block;
  position: relative;
  width: 418px;
  height: 35px;
  border: 1px solid #e5e5e5;
  background-color: #bd3d3a;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-family: Interstate;
  font-weight: 100;
  text-align: center;
  font-size: 12px;
  vertical-align: baseline;
}

.session-form-separator {
  display: block;
  margin: 1em auto;
  position: relative;
  text-align: center;
  font-family: Interstate;
  font-size: 16px;
  font-weight: 400;
}

.session-form-separator:before {
  display: inline-block;
  width: 43%;
  border-top: 1px solid #333;
  content: " ";
  position: absolute;
  width: 185px;
  top: 0.7em;
  left: 30px;
}
.session-form-separator:after {
  display: inline-block;
  width: 43%;
  border-top: 1px solid #333;
  content: " ";
  position: absolute;
  width: 185px;
  top: 0.7em;
  right: 30px;
}

.session-form-errors-active {
  font-family: Interstate;
  font-size: 12px;
  font-weight: 100;
  margin-top: 10px;
  color: red;
}

.session-form > .session-password {
  margin-top: 10px;
}

.session-form > a {
  font-family: Interstate;
  font-size: 12px;
}

.error-list {
  margin-top: 40px;
  font-family: Interstate;
  font-size: 16px;
}

#help-link {
  margin-left: 350px;
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 10px;
}

#disclaimer-info {
  display: inline-block;
  margin-left: 20px;
  font-weight: 100;
  color: #999;
  font-family: Lucida Grande, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
}

//-----------STAGE TWO-----------------------------------

.session-detail-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}

.profile-picture-container {
  background-color: transparent;
  width: 160px;
  height: 160px;
  margin-right: 20px;
}

.profile-picture-preview {
  background-color: transparent;
  width: 160px;
  height: 160px;
  border: 1px solid #f0f0f0;
}

.profile-picture-preview > img {
  width: 160px;
  width: 160px;
  background-size: cover;
}

.profile-picture-upload-btn {
  border: 1px solid #f0f0f0;
  font-size: 12px;
  font-family: Interstate;
  font-weight: 100;
  text-align: center;
  color: #333333;
  padding: 2px 4x 2px 4px;
  border-radius: 3px;
  background-color: transparent;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 125px;
  z-index: 1000;
}

.profile-picture-upload-btn > input {
  display: none;
}

.profile-info-container {
}

.profile-age {
  margin-bottom: 10px;
}

.profile-age > h2 {
}

.profile-age > input {
  border: 1px solid #f0f0f0;
  padding: 2px 4px;
}

.profile-gender {
  margin-bottom: 10px;
}

.profile-username > input {
  border: 1px solid #f0f0f0;
  padding: 2px 4px;
}

#session-form-input-error-active {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 10px;
  border: 1px solid red;
  border-radius: 5px;
  font-family: Interstate;
  font-weight: 100;
}

#session-form-input-error {
  display: inline-block;
  width: 400px;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-family: Interstate;
  font-weight: 100;
}
