.side-content-container {
  width: 100%;
  height: 1000px;
  background-color: #fff;
  border-left: 1px solid #f0f0f0;
}

.side-top-content {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.stats-title-format {
  display: flex;
  justify-content: space-between;
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #999;
  line-height: 24px;
}

.title-format {
  font-family: Interstate;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.7px;
  display: flex;
  cursor: pointer;
}

.title-icon {
  margin-right: 5px;
}

.side-top-info {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #f0f0f0;
}

.side-stats {
  display: flex;
  justify-content: space-between;
  font-family: Interstate;
  font-size: 13px;
  font-weight: 100;
  color: #999;
  line-height: 24px;
  margin-top: 10px;
}

.side-stats-total {
  margin-top: 10px;
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f0f0f0;
  color: #999;
}

.stats-title-middle {
  display: flex;
  justify-content: space-between;
  font-family: Interstate;
  font-size: 14px;
  font-weight: 100;
  color: #999;
  line-height: 24px;
  margin: 0 auto;
  margin-top: 20px;
}

.side-middle-content {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

#left-stats,
#right-stats {
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin-bottom: 10px;
}

#right-num {
  margin-left: 30px;
  font-family: Interstate;
  font-weight: 800;
  letter-spacing: 2px;
}

#left-num {
  color: #bd3d3a;
  font-family: Interstate;
  font-weight: 800;
  letter-spacing: 2px;
}

#left-num,
#right-num {
  font-size: 30px;
}

.title-format:hover {
  color: #ccc;
}

.side-middle-info {
  border-top: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
}

.side-user-follow {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.side-user-follow > #side-user-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.side-user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#side-user-info-top {
  font-family: Interstate;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.4px;
  color: #333;

  margin-top: 10px;
}

#side-user-info-bottom {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
}

#side-user-info-bottom > div span,
#side-user-info-bottom > div {
  display: flex;
  flex-direction: row;
}

#side-user-info-bottom * {
  color: #999;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.4px;
  font-size: 11px;
}

#side-user-info-bottom div span p {
  padding-left: 5px;
}

#side-user-info-bottom div span {
  padding-right: 10px;
}

#side-user-info-bottom button {
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  color: #333;
  font-size: 11px;
  padding: 2px 9px 2px 8px;
  height: 22px;
  line-height: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
}

#side-user-info-bottom button p {
  margin-left: 3px;
}

#side-user-info-bottom button:hover {
  border: 1px solid rgb(143, 143, 143);
}
