.track-player-main-container {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  background-color: #f2f2f2;
}

.track-player-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-left: 200px;
}

.track-player-buttons {
  display: flex;
}

.track-player-buttons button {
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
}

.track-prev-btn {
  outline: none;
}

.track-play-pause-btn {
  outline: none;
}

.track-skip-btn {
  outline: none;
}

.track-shuffle-btn {
  outline: none;
}

.track-repeat-btn {
  outline: none;
}

.track-playbar {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

.track-playbar p {
  margin-right: 5px;
}

.audio-playbar {
  width: 600px;
  margin-right: 5px;
}

#volume-bar {
  animation-name: fade-in;
  animation-duration: 1s;
}

.track-volume-btn {
  position: relative;
}

.volume-bar-wrapper {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  top: -55px;
  left: -70px;
  width: 130px;
  z-index: 4;
  padding: 10px;
  display: flex;
  // justify-content: center;
  background: rgb(131, 128, 128);
  border-radius: 10px;
  animation-name: volume-fade-in;
  animation-duration: 0.4s;
}

@keyframes volume-fade-in {
  from {
    left: 5px;
    top: -25px;
    width: 30px;
    opacity: 0;
  }
  to {
    left: -70px;
    top: -55px;
    width: 130px;
    opacity: 1;
  }
}

.track-details-container {
  display: flex;
  width: 20%;
  margin-left: 10px;
  margin-top: 7px;
}

.track-details-profile-pic {
  margin-left: 10px;
}

.track-details-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.track-details-info * {
  color: #333;
  font-size: 11.5px;
}

.track-details-artist-name {
  color: #999;
  font-size: 11.5px;
  padding-bottom: 1px;
}

.track-details-profile-pic img {
  width: 32px;
  height: 32px;
  border: 0.5 solid #e5e5e5;
}

.track-details-artist-name {
}

.track-details-track-name {
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #cacaca;
  height: 4px;
}

input[type="range"]::-moz-range-track {
  background: #cacaca;
  height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background: #343148;
  margin-top: -3px;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: #343148;
  margin-top: -3px;
  border-radius: 50%;
}
