.track-player-main-container {
  display: flex;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 10;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  background-color: #f2f2f2;
}

.track-player-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;

  margin-left: 80px;
}

.track-player-buttons {
  display: flex;
}

.track-player-buttons button {
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
}

.track-prev-btn {
  outline: none;
}

.track-play-pause-btn {
  outline: none;
}

.track-skip-btn {
  outline: none;
}

.track-shuffle-btn {
  outline: none;
}

.track-repeat-btn {
  outline: none;
}

.track-playbar {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.track-playbar p {
  margin-right: 5px;
}

.audio-playbar {
  width: 600px;
  margin-right: 5px;
}

.track-volume-btn {
  margin-left: 5px;
}

.track-details-container {
  display: flex;
  width: 20%;
  margin-left: 20px;
  margin-top: 7px;
}

.track-details-profile-pic {
  margin-left: 10px;
}

.track-details-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.track-details-info * {
  color: #333;
  font-size: 11.5px;
}

.track-details-artist-name {
  color: #999;
  font-size: 11.5px;
  padding-bottom: 1px;
}

.track-details-profile-pic img {
  width: 32px;
  height: 32px;
  border: 0.5 solid #e5e5e5;
}

.track-details-artist-name {
}

.track-details-track-name {
}
