.track-show-main-container {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.track-show-main-content {
  margin: 0 auto;
  width: 1180px;
  height: 100%;
  background-color: white;
}

.track-show-track-wrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  background-image: linear-gradient(#c2d4dd, #ffffff);
  padding-bottom: 15px;
}

.track-show-left {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.track-show-left-top {
  display: flex;
  margin-top: 40px;
}

.track-show-btn > #show-play-btn,
.track-show-btn > #show-pause-btn {
  width: 60px;
  height: 60px;
  color: #bd3d3a;
  margin-right: 20px;
  background-color: white;
  border-radius: 50%;
}

.track-show-text-container {
  display: flex;
  justify-content: space-between;
  width: 750px;
}

.track-show-text {
}

.track-show-artist-name {
  cursor: pointer;
}

.highlight {
  background: rgba(17, 16, 16, 0.712);
  font-size: 14px;
  line-height: 1.2;
  padding: 2px 7px 3px;
  font-weight: 100;
  color: #fff;
}

.track-show-track-title {
  margin-top: 10px;
  background-color: rgba(17, 16, 16, 0.712);
  color: #fff;
  font-size: 24px;
  line-height: 37px;
  padding: 4px 7px;
}

.track-show-creation-time {
  color: #181818;
  font-size: 14px;
  font-weight: 100;
  padding-right: 15px;
}

.track-show-waveform-wrapper {
  margin-top: 20px;
  border: 1px dotted black;
  width: 98%;
  height: 200px;
}

.track-show-right {
}

#album-image img {
  margin-top: 40px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

#audio-element {
  display: none;
}

//------- BOTTOM ----------

.track-show-bottom-container {
  display: flex;
  margin: 0 auto;
  width: 95%;
}

.track-show-bottom-left {
  display: flex;
  flex-direction: column;
  height: 20%;
  padding-top: 5px;
  width: 830px;
}

.track-show-bottom-left-stats {
  display: flex;
  flex-direction: column;
  width: 830px;
}

.track-show-bottom-left-comment {
  margin-top: 10px;
  display: flex;
  width: 97.5%;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border: 1px solid #e5e5e5;
  background-color: #f2f2f2;
}

.track-show-bottom-left-comment > * > img {
  width: 40px;
  height: 40px;
  background-size: cover;
  margin-right: 15px;
  margin-top: 5px;
}

.track-show-bottom-left-comment #comment-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#comment-box input {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  width: 740px;
  padding: 3px 7px;
}

.track-show-bottom-stats-flex {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 98%;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.track-show-bottom-icons div {
  width: 20px;
  height: 20px;
  display: flex;
  border: 0.5px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(87, 87, 87);
}

.track-show-bottom-icons {
  display: flex;
}

.track-show-bottom-stats {
  display: flex;
  padding-right: 15px;
}

.track-show-bottom-stats > div {
  color: #999;
}

#bottom-icon {
  padding-right: 3px;
  padding-left: 10px;
}

.track-show-bottom-icons div:hover {
  border: 0.5px solid rgb(107, 106, 106);
  color: #333;
}

//--------------------BOTTOM PROFILE---------------------------

#track-show-profile-picture > * > img {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  width: 115px;
  height: 115px;
  margin: 0 auto;
  cursor: pointer;
}

.track-show-bottom-profile {
  display: flex;
  width: 100%;
}

.track-show-bottom-profile-left {
  margin-top: 20px;
  height: 300px;
  width: 120px;
}

#track-show-profile-info > h2 {
  font-size: 13px;
  margin-top: 5px;
  font-family: Interstate;
  font-weight: 100;
  color: #333;
}

#track-show-profile-info > div {
  width: 60%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

#track-show-profile-info > div > span {
  color: #999;
  font-size: 11px;
}

#track-show-profile-info > div > span > span {
  color: #999;
  padding-left: 3px;
}

#track-show-description {
  margin-bottom: 15px;
}

.track-show-bottom-profile-right {
  height: 100%;
  width: 84%;
}

.track-show-comment-header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 8px;
  font-family: Interstate;
  font-weight: 100;
  margin-top: 20px;
  margin-left: 15px;
  color: #999;
}

.track-show-comment-header > span {
  padding-right: 4px;
}

.comment-item {
  width: 100%;
  margin-left: 15px;
  margin-top: 10px;
  color: #999;
  display: flex;
}

.comment-profile-icon {
  margin-right: 8px;
  cursor: pointer;
}

.commenter-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid #e5e5e5;
}

.comment-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment-content-top {
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  cursor: pointer;
}

.comment-content-top > span:last-child {
  font-size: 10px;
}

.comment-content-body {
  width: 95%;
  display: flex;
  justify-content: space-between;
  color: #333;
}

.trash-button {
  background-color: transparent;
  cursor: pointer;
}

.trash-button:hover {
  color: #999;
}
