.upload-main-content-wrapper {
  width: 100%;
  background-color: whitesmoke;
}

.upload-main-container {
  margin: 0 auto;
  width: 1180px;
  height: 400px;
  background-color: white;
}

.upload-main-menu-bar {
  margin: 0 auto;
  width: 1180px;
}
