.upload-main-content-wrapper {
  width: 100%;
  background-color: whitesmoke;
}

.upload-main-container {
  margin: 0 auto;
  width: 1180px;
  height: 700px;
  background-color: white;
}

.upload-main-menu-bar {
  margin: 0 auto;
  width: 1180px;
}

.upload-main-body {
  border: 1px solid #f0f0f0;
  width: 800px;
  height: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px lightgray;
  margin: 0 auto;
}

#filler {
  height: 100px;
}

//-------UPLOAD------------

.upload-main-body-header > h1 {
  font-size: 22px;
}

.upload-main-body-upload-btn {
  display: flex;
  margin-top: 20px;
  border: 0.5px solid #bd3d3a;
  background: #bd3d3a;
  padding: 12px 24px;
  color: white;
  font-size: 16px;
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-align: center;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.upload-main-body-upload-btn > input {
  display: none;
}

.upload-main-body-info {
  padding-top: 10px;
  text-align: center;
}

//-------UPLOAD DETAIL---------

.upload-main-body-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #f0f0f0;

  padding-bottom: 10px;
}

.upload-main-body-album {
  background-color: transparent;
  width: 260px;
  height: 260px;
  margin-right: 30px;
}

.upload-main-body-album-preview {
  width: 260px;
  height: 260px;
  background-color: transparent;
  border: 1px solid #f0f0f0;
}

.upload-main-body-album-preview > img {
  width: 260px;
  height: 260px;
  background-size: cover;
  position: absolute;
}

.upload-main-pic-upload-btn {
  border: 1px solid #f0f0f0;
  font-size: 14px;
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-align: center;
  color: #333333;
  padding: 2px 11px 2px 10px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  margin-left: 60px;
  margin-top: 225px;
  z-index: 1000;
  position: relative;
  outline: none;
}

#pic-icon {
  margin-right: 5px;
}

.upload-main-pic-upload-btn > input {
  display: none;
}

.upload-main-body-title {
  margin-bottom: 10px;
}
.upload-main-body-title > h2 {
  font-family: Interstate;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 15px;
}
.upload-main-body-title > input {
  border: 1px solid #f0f0f0;
  padding: 2px 4px;
  font-family: Interstate;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  line-height: 15px;
}
.upload-main-body-title h2 span {
  color: red;
}

.main-genre-radio {
  margin-bottom: 10px;
}

#custom-genre {
  margin-bottom: 10px;
}

.upload-main-description {
  font-family: Interstate;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 15px;
}

.upload-main-footer {
  display: flex;
  justify-content: space-between;
}

.upload-main-detail-footer {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-top: 40px;
}

.upload-main-footer-btn {
  display: flex;
  height: 26px;
}

.upload-main-footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.track-cancel-btn {
  height: 26px;
  font-size: 12px;
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.upload-main-body-upload-save-btn {
  display: flex;
  border: 0.5px solid #bd3d3a;
  background: #bd3d3a;
  padding: 2px 4px;
  color: white;
  font-size: 12px;
  font-family: Interstate;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-align: center;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.upload-detail-nav {
  margin-bottom: 25px;
  width: 100%;
}

.upload-detail-nav * {
  font-size: 18px;
}

.upload-footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  letter-spacing: 0.3px;
  line-height: 22px;
}

#upload-footer-top p {
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e5e5;
}

#upload-footer-bottom {
  padding-top: 8px;
  margin-right: 170px;
}
